@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

// DEFAULT SETTINGS

.default-transition() {
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
}

.inline-block() {
  display: inline-block;
}

.center-txt() {
  text-align: center;
}

@default-font: 'Inconsolata', ;
@default-font-color: rgb(0, 0, 0);
@default-font-size: 20px;
@default-margin: 30px;
@default-padding: 30px;
@default-border-radius: 10px;

//

a, 
a:visited,
a:hover,
a:active,
a:visited, 
a:focus {
  text-decoration: none;
  color: #000;
}

body {
  font-family: @default-font;
  color: @default-font-color;
  margin: 0;
  padding: 0;
}

h1 {
    .inline-block;
    margin: 20px 0 20px 20px;
    font-size: 40px;
    text-transform: capitalize;
}

p#header-span {
    .inline-block;
    font-size: 20px;
    margin: 0 20px 20px;
    width: 190px;
}

div.jumbotron {
    margin: 0;
    padding: 20px 30px 30px;
}

.jumbo-title() {
  .inline-block;
}

div.jumbotron h2.title {
    .jumbo-title;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5PX 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0)
}

div.jumbotron div.content {
  font-size: 20px;
  margin: 0;
}

div.jumbotron div.content h3.subtitle {
  margin: 20px 0;
  font-size: 20px;
  // text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

div.jumbotron div.content p {
  margin: 0 0 0 30px;
  font-size: 20px;
  text-align: justify;
}

div.jumbotron div.content p#skills span.skill {
    .inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px;
    background: rgba(2555, 2555, 255, 1);
}

div#panel-1 { background:rgb(102, 204, 255) }
div#panel-2 { background:rgb(255, 204, 0) }
div#panel-3 { background:rgb(153, 255, 102) }

div#media-wrapper {
  .center-txt;
  margin: 0;
  padding: 10px;
}
 
div#media-wrapper div.media-box {
  .inline-block;
}

div#media-wrapper div.media-box img {
  margin: @default-margin;
  vertical-align: -200%;
  margin: 10px;
  height: 50px;
}

div#media-wrapper div.media-box span {
  font-size: 20px;
  margin: 10px;
}

//  FORM

.form-item() {
  margin: 10px auto;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  display: block;  
  font-size: 17px;
}

form#contato {
  margin: 0;
}

form#contato input[type="text"] {
  .form-item;
  height: 60px;
}

form#contato textarea {
  .form-item;
  height: 150px;
  max-height: 300px;
}

form#contato input[type="submit"] {
  .form-item;
  height: 50px;
  max-width: 100px;
}

// PORTFOLIO

div#port-wrapper {
    text-align: center;
}

div.port {
    .default-transition;
    padding: 10px;
	margin: 5px;
    width: 100%;
    max-width: 180px;
	display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    &:hover {
      cursor: pointer;
      border-radius: 20px;
    } 
}

div.port div.port-title-holder,
div.port img.port-thumb {
	display: block;
}

div.port img.port-thumb {
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	height: 100px;
	border-radius: 0px;
}

div.port div.port-title-holder {
	margin: 0px;
	padding: 0 10px;
	width: auto;
	border: 1px solid rgba(0, 0, 0, 0);
}

div.port div.port-title-holder h3.port-subtitle,
h3.form_subtitle {
	margin: 10px 0;
	font-size: 20px;
}

div.port div.port-title-holder a button.btn {
	margin: 0;
	padding: 2px 15px;
	font-size: 20px;
}