/*CSS*/

body {
	margin:				0;
	padding:			0;
    background-color:  	#fff;
    font-family:        'Questrial', sans-serif;
    font-size:          18px;
}


#header_wrapper {
	margin:				0px 0;
	padding:         	30px 0;
	text-align:			center; /*changes the logo position (center, right, left)*/
	background-color:	#fff;
	box-shadow: 		inset 0px 0px 22px 0px rgba(0,0,0,0.33);
}

#header_wrapper a {    
	text-decoration:	none;
}

#header_wrapper a img {
	vertical-align:		bottom;
	margin:				0 10px;
}

#nav_wrapper {
	margin:				0 10px;
	padding:			0;
	
	text-align:			center;

	display:			inline-block;
}

#nav_wrapper ul {
	background-color:	#00C;
	margin:				0;
	padding:			0;
	list-style:			none;
	position:			relative;
	
	/*border-top-left-radius:	5px;
	border-top-right-radius:5px;*/
}

#nav_wrapper ul li {
	width:				160px;
	display:			inline-block;	
	transition: 		opacity .5s ease-out;
	opacity:			0.8;
	
	border-bottom:		3px solid transparent;
}

#nav_wrapper ul li:hover {
	border-bottom:		3px solid #F00;
	opacity:			1;
}

#nav_wrapper ul li a {
	color:				#fff;
	display:			block;
	padding:			10px 15px;
	text-decoration:	none;
}

#nav_wrapper ul li:hover ul {
	display:			block;
}

#nav_wrapper ul ul {
	display:			none;
	position:			absolute;
	color:				#fff;
}

#nav_wrapper ul ul:hover {
	cursor:				pointer;
}

#nav_wrapper ul ul li {
	display:			block;
	padding:			10px 0;
}


img#banner {
	width:			70%;
	margin:			20px auto;
	display:		block;
    border:			5px solid #fff;
	box-shadow:     1px 1px 10px 0 #ccc;
}


#buttons_wrapper {
	text-align:			center;
	margin: 			0 auto;
	padding:			20px 0;
	background-color:	#fff;
	box-shadow: 		inset 0px 0px 22px 0px rgba(0,0,0,0.33);
}

.btn_holder {
	display:		inline-block;
}

.btn_holder a {
	text-decoration:	none;
}

.btn_holder div {
	width:				300px;
	border-radius: 		2px;
	border-bottom:		4px solid transparent;
	color: 				#fff;
	font-size: 			20px;
	padding: 			40px;
	margin:				50px 20px;
	transition: 		all linear 0.2s;
	background-color:	#999;
}

.btn_holder div:hover {
	cursor:				pointer;
	box-shadow: 		0px 0px 22px 0px rgba(0,0,0,0.25);
}

#btn_1:hover {	background-color:	#F00;	}

#btn_2:hover {	background-color:	#00C;	}

#btn_3:hover {	background-color:	#DCA80C;}

#btn_4:hover {	background-color:	#090;	}


#footer_wrapper {
	margin:					0;
    text-align:             center;
    background-color:       #C00;
	box-shadow: 			inset 0px 0px 22px 0px rgba(0,0,0,0.25);
}

#footer_wrapper .foot {
    margin:                 20px;
    display:                inline-block;
	vertical-align:			text-top
}

#footer_wrapper .foot a#top_link {
	text-transform:			uppercase;
	font-size:				18px;
	font-weight:			bold;
}

#footer_wrapper .foot a {
    display:                block;
	text-decoration:		none;
	color:					#ccc;
	font-size:				17px;
	text-transform:			capitalize;
	margin:					10px 20px;
	transition: 			all linear 0.2s;
}

#footer_wrapper .foot a:hover {
	color:					#fff;
}

#footer_wrapper .feet a:hover, #footer_wrapper img:hover {
    cursor:                 pointer;
    text-decoration:        underline;
}

div#fb {
	display:	block;
}


/*PAGES*/
.pagesWrapper {
    margin:                 15px;
    padding:                10px;
    text-align:             center;
}

.pagesHolder {
    padding:                20px;
    margin:                 0 auto 50px;
    box-shadow:             2px 2px 10px gray;
    max-width:              860px;
}

.pagesHolder h1 {
    font-size:              20px;
    padding:                8px;
    font-weight:            100;
    background-color:       #ff0000;
    color:                  #fff;
    text-align:             center;
}


/*PAGES*//*Unidade*/
.articleWrapper {
    padding:                20px;
    margin:                 0 auto 50px;
    box-shadow:             2px 2px 10px gray;
}

.articleWrapper h1 {
    font-size:              20px;
    padding:                8px;
    font-weight:            100;
    background-color:       #ff0000;
    color:                  #fff;
    text-align:             center;
}

.articleWrapper img {
    margin:                 10px;
    max-width:              90%;
    height:                 auto;
    border-bottom:          outset #ff0000 2px;
    box-shadow:             5px 5px 5px gray;
    cursor:                 default;
}

.articleWrapper p span {
    background-color:       #ff0000;
    color:                  #fff;
    padding:                5px;
}

.articleWrapper .galleryWrapper img {
    cursor:                 pointer;
    height:                 130px;
    max-width:              175px;
}

.articleWrapper .galleryWrapper img:hover {
    opacity:                0.9;

}

#fiskArticle {
    max-width:              860px;
    text-align:             justify;
}

#fiskArticle p {
    line-height:            25px;
    max-width:              1000px;
    margin:                 20px auto 30px;
}

#unitArticle-1, #unitArticle-2 {
    max-width:              400px;
    display:                inline-block;
    margin:                 10px;
}

/*PAGES*//*Cursos Icons*/
.cursosIconsWrapper {
}

.cursosIconsWrapper img {
    height: 100px;
    margin: 10px 30px;
    padding: 10px;
    border: 2px solid transparent;
}

.cursosIconsWrapper img#ing:hover {
    border-bottom: 2px solid #ff0000;
}

.cursosIconsWrapper img#esp:hover {
    border-bottom: 2px solid #FFCC00 ;
}

.cursosIconsWrapper img#port:hover {
    border-bottom: 2px solid #009933;
}

.cursosIconsWrapper img#inf:hover {
    border-bottom: 2px solid #33ADAD;
}


/*PAGES*//*Cursos*/
.cursosWrapper {
    padding:            0 40px;
}

.cursosWrapper h2 {
    color:              #ff0000;
    font-size:          22px;
    font-weight:        100;
}

.cursosWrapper img {
    max-width:          780px;
    box-shadow:         2px 2px 10px #000;
}

.cursosWrapper h3 {
    text-align:         left;
    margin:             30px 0;
}

.cursosWrapper h4 {
    font-style:         italic;
    text-align:         left;
    margin:             30px 0;
}

.cursosWrapper h4 span {
    font-size:          18px;
    color:              #ff0000;
}

.cursosWrapper p {
    text-align:         justify;
    margin:             20px 0;
    line-height:        25px;
}

.cursosWrapper p span {
    font-weight:        bold;
    text-align:         left;
}

.cursosWrapper hr {
    margin:             50px 0;
}
